.container {
    flex-direction: column;
/*    height: 100%;*/
    width: 100%;
    align-items: center;
}
.min-progress {
    width: 250px;
    height: 250px;
}
.progress2{
    color:red;
    secondary-color:red;
    scale-width:20;
    scale-number:60;

}

.progress4{
    color: red;
    stroke-width:10px;
    secondary-color:red
}
.arc1{
    color:red;
    stroke-width:30px;
}
.arc2{
    color:yellow;
    stroke-width:30px;
    total-angle:360;
/*    center-x：10;*/
/*    center-y：10;*/
/*    radius：5;*/
}
.eclipse{
    color:crimson;
    background-color: antiquewhite;
}