.div-button {
    flex-direction: column;
    width: 100%;
}
.circleall{
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 4%;
}
.circlealls{
    flex-direction: row;
}
.buttons {
    margin-top: 15px;
    width: 45%;
    height: 45px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    background-color: #317aff;
}
.title{
    font-size: 13px;
    margin-top: 60px;
    margin-left: 20px;
    color: grey;
}
.all{
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.oriage{
    background-color: #ee8443;
}
.white{
    opacity: 0.4;
}
.icon{
    icon-height: 30px;
    icon-width: 30px;
}
.warn{
    background-color: #f55a42;
}
.circle {
    radius: 30px;
    icon-width: 30px;
    icon-height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #317aff;
}
.cir{
    background-color: #f55a42;
}
.text {
    text-color: #0a59f7;
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif;
    font-style: normal;
}
.text1{
    text-color: #969696;
}
.text2{
    text-color: #e84026;
}
.download {
    margin-top: 15px;
    width: 88%;
    height: 45px;
    border-radius: 50px;
    text-color: white;
    background-color: #007dff;
}