
.back-child {
    width: 100%;
    height: 100%;
    background-color: #3f56ea;
}
.front-child {
    width: 50%;
    height: 50%;
    background-color: #00bfc9;
}
.positioned-child {
    width: 50%;
    height: 50%;
    left: 30%;
    top: 20%;
    background-color: #47cc47;
}
.bd-radius {
    border-radius: 16px;
}

/* xxx.css */
.container {
    flex-direction:row;
    width:100%;
    height:100%;
    padding: 1px;
}

.sub-container{
    flex-direction: column;
    height: 100%;
    flex-weight: 1;
}

.style-container{
    flex-direction: column;
    height: 70%;
}
.contain1{
    width: 100%;
    height: 15%;
    flex-direction: column;
}

.event-container{
    flex-direction: column;
    height: 45%;
}

.prop-container{
    flex-direction: column;
    padding-left: 2px;
}

.ani-container{
    flex-direction: column;
    height: 100%;
    flex-weight: 1;
}

.gradient-container{
    flex-direction: column;
    height: 40%;
}

.function-container{
    flex-direction: column;
    height: 35%;
}

.accessibility-container{
    flex-direction: column;
    height: 20%;
}

.atom-container{
    flex-direction: column;
    height: 60%;
}

.multimode-container{
    flex-direction: column;
}

.title{
    width: 100%;
    font-size: 18px;
    margin: 2px;
    font-weight: bold;
    text-align: center;
}
.sub-title{
    width: 100%;
    height: 25px;
    font-size: 15px;
    text-align: left;
    margin-bottom: 1px;
    padding: 2px;
}

.style1{
    width: 100%;
    mask-color:red;
    height: 100%;
    min-width: 25px;
    min-height: 10px;
    max-width: 300px;
    max-height: 50px;
    padding-left: 10px;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    margin-left: 10px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 5px;
    border-left-style: solid;
    border-right-style: dashed;
    border-top-style: dashed;
    border-bottom-style: dotted;
    border-left-width: 1px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 1px;
    border-left-color: #ff0000;
    border-right-color: #00ff00;
    border-top-color: #0000ff;
    border-bottom-color: #fff000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 12px;
    background: linear-gradient(pink,#fff000);
    box-shadow: 2px 4px 6px 8px #888888;
    opacity: 0.5;
    display: flex;
    visibility: visible;
    align-self: center;
    image-fill: #000fff;
    clip-path: margin-box;
}

.style2{
    width: 70%;
    height: 12%;
    padding-start: 10px;
    padding-end: 15px;
    margin-start: 5px;
    margin-end: 10px;
    border-style: dotted;
    border-width: 2px;
    border-color:#000000;
    border-radius:5px;
    background-color:#ffaa00;
    mask-image: url('common/images/icon.png');
    mask-size: cover;
    mask-position: center;

}

.style3{
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-left: 1px solid #000000;
    border-right:  2px dashed #00ff00;
    border-top:  1.5px dotted #0000ff;
    border-bottom:  2.5px dotted #fff000;
    background-image:url('common/images/image.png');
    background-size:cover;
    background-repeat: repeat-x;
    background-position: center;
    flex:1;
    flex-grow: 2;
    flex-basis: 10px;
    flex-shrink: 1;
}

.style4{
    width: 60%;
    height: 5%;
    padding: 1px;
    margin: 5px;
    border: 2px solid #000000;
}

.style5{
    width: 50%;
    height: 30px;
    background-color: yellow;
    border-image-source: url('/common/images/image.png');
    border-image-slice: 1px 2px 3px 4px;
    border-image-width: 2px 3px 4px 5px;
    border-image-outset: 3px 4px 5px 6px;
    border-image-repeat: repeat;
}

.style6{
    width: 70px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 35px;
    bottom: 5px;
    right: 10px;
    background-color: pink;
    border-image: url('common/images/icon.png') 1px 2px 3px 4px 2px 3px 4px 5px 3px 4px 5px 6px round;
}

.style7 {
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: green;
    stroke-width: 20px;
    mask-color:lightblue;
    line-cap: round;
}

.pstyle {
    height: 10%;
    margin-bottom: 1px;
    margin-top: 1px;
    color: green;
    stroke-width: 20px;
    mask-color:lightblue;
    line-cap: round;
}


.event1{
    width: 60%;
    flex-weight: 1;
    background-color: salmon;
}

.event2{
    width: 70%;
    flex-weight: 1;
    background-color: darkorchid;
}

.event3{
    width: 80%;
    flex-weight: 1;
    background-color: #ad4e2a;
}

.event4{
    flex-direction: row;
    width: 90%;
    flex-weight: 1;
    overflow:scroll;
}

.event5{
    flex-direction: column;
    width: 100%;
    height: 90px;
    overflow:scroll;
}

#prop1 {
    height: 50px;
    color: #ad4e2a;
    stroke-width: 10px;
    line-cap: square;
    margin: 5px;
}

.prop2 {
    height: 50px;
    color: #343524;
    stroke-width: 15px;
    line-cap: round;
    margin: 5px;
}

.prop4 {
    color: #456345;
    stroke-width: 25px;
    line-cap: round;
    margin: 5px;
}

.prop5 {
    color: #831834;
    stroke-width: 40px;
    line-cap: square;
    margin: 5px;
    height: 70px;
}

.ani1{
    color: #72ac33;
    stroke-width: 55px;
    line-cap: square;
    margin: 5px;
    transform-origin: 0% 0%;
    animation: ani1Go 3s infinite;
}

@keyframes ani1Go
{
    from {
        background-color: #f76160;
        opacity:0.3;
        width:50px;
        height: 50px;
        transform:translate(20px) rotate(10deg) scale(0.2) skew(40deg);
        background-position:10% 10%
    }
    30% {
        background-color: #60f761;
        opacity:0.5;
        width:70px;
        height: 70px;
        background-position:12% 12%;
        transform:translateX(10px) translateY(5px) rotateX(20deg) rotateY(25deg) scaleX(0.6) scaleY(0.5) skewX(25deg) skewY(15deg)
    }
    to {
        background-color: #6160f7;
        opacity:1;
        width:90px;
        height: 90px;
        background-position:22% 22%;
        transform:rotate(180deg) scale(2)
    }
}


.ani2{
    color: #ad4e2a;
    stroke-width: 55px;
    line-cap: square;
    margin: 5px;
    transform-origin: 2% 3%;
    animation-name:ani2Go;
    animation-delay:5s;
    animation-duration:10s;
    animation-iteration-count:4;
    animation-timing-function:ease-out;
    animation-direction:reverse;
    animation-fill-mode:forwards;
    animation-play-state:running;
    transition:all 0 ease 0;
}

@keyframes ani2Go
{
    from {
        background-color: #f76160;
        opacity:0.3;
        width:50px;
        height: 50px;
        background-position:10% 10%
    }
    30% {
        background-color: #60f761;
        opacity:0.5;
        width:70px;
        height: 70px;
        background-position:12% 12%;
        transform:translateX(10px) translateY(5px)  translateZ(15px)
        rotateX(20deg) rotateY(25deg) rotateZ(15deg) scaleX(0.6) scaleY(0.5) scaleZ(1.5) perspective(10);
    }
    to {
        background-color: #6160f7;
        opacity:1;
        width:90px;
        height: 90px;
        background-position:22% 22%;
        transform:translateX(30px) translateY(45px)  translateZ(55px)
        rotateX(180deg) rotateY(185deg) rotateZ(150deg) scaleX(2) scaleY(2.5) scaleZ(3.5);
    }
}



.gradient1{
    stroke-width: 30px;
    line-cap: square;
    margin: 5px;
    background: linear-gradient(red, #00ff00);
}

.gradient2{
    stroke-width: 30px;
    line-cap: square;
    margin: 5px;
    background: linear-gradient(45deg, rgb(255,0,0),rgb(0, 255, 0));
}

.gradient3{
    stroke-width: 30px;
    line-cap: square;
    margin: 5px;
    background: linear-gradient(to right, rgb(255,0,0) 90px, rgb(0, 255, 0) 60%);
}

.gradient4{
    stroke-width: 30px;
    line-cap: square;
    margin: 5px;
    background: repeating-linear-gradient(to right, rgba(255, 255, 0, 1) 30px,rgba(0, 0, 255, .5) 60px);
}

.accessibility1{
    color: #321124;
    stroke-width: 30px;
    line-cap: square;
    margin: 5px;
}

.multimode1{
    color: #978666;
    stroke-width: 30px;
    line-cap: square;
    margin: 5px;
}


.function1{
    background-color: #ff0000;
    width: 60%;
    height: 30px;
}

.function2{
    background-color: #00ff00;
    width: 60%;
    height: 30px;
}

.function3{
    background-color: #0000ff;
    width: 100%;
    height: 30px;
}

.function4 {
    flex-direction: row;
    width: 60%;
    height: 60px;
    overflow: scroll;
}
