.container {
    flex-direction:row;
    width:100%;
    height:100%;
    padding: 1px;
}

.sub-container{
    flex-direction: column;
    height: 100%;
    flex-weight: 1;
}

.title{
    width: 100%;
    font-size: 18px;
    margin: 2px;
    padding: 2px;
    font-weight: bold;
    text-align: center;
}

.sub-title{
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin: 2px;
    padding: 2px;
}

.contain1{
    width: 100%;
    height: 70px;
    flex-direction: column;
}

.prop-container{
    flex-direction: column;
    height: 100%;
    flex-weight: 2;
}

.ani-container{
    flex-direction: column;
    height: 100%;
    flex-weight: 1;
}

.ani1{
    color: #72ac33;
    stroke-width: 55px;
    margin: 5px;
    transform-origin: 0% 0%;
    animation: ani1Go 3s infinite;
}

@keyframes ani1Go
{
    from {
        background-color: #f76160;
        opacity:0.3;
        width:50px;
        height: 50px;
        transform:translate(20px) rotate(10deg) scale(0.2) skew(40deg);
        background-position:10% 10%
    }
    30% {
        background-color: #60f761;
        opacity:0.5;
        width:70px;
        height: 70px;
        background-position:12% 12%;
        transform:translateX(10px) translateY(5px) rotateX(20deg) rotateY(25deg) scaleX(0.6) scaleY(0.5) skewX(25deg) skewY(15deg)
    }
    to {
        background-color: #6160f7;
        opacity:1;
        width:90px;
        height: 90px;
        background-position:22% 22%;
        transform:rotate(180deg) scale(2)
    }
}


.ani2{
    color: #ad4e2a;
    stroke-width: 55px;
    margin: 5px;
    transform-origin: 2% 3%;
    animation-name:ani2Go;
    animation-delay:5s;
    animation-duration:10s;
    animation-iteration-count:4;
    animation-timing-function:ease-out;
    animation-direction:reverse;
    animation-fill-mode:forwards;
    animation-play-state:running;
    transition:all 0 ease 0;
}

@keyframes ani2Go
{
    from {
        background-color: #f76160;
        opacity:0.3;
        width:50px;
        height: 50px;
        background-position:10% 10%
    }
    30% {
        background-color: #60f761;
        opacity:0.5;
        width:70px;
        height: 70px;
        background-position:12% 12%;
        transform:translateX(10px) translateY(5px)  translateZ(15px)
        rotateX(20deg) rotateY(25deg) rotateZ(15deg) scaleX(0.6) scaleY(0.5) scaleZ(1.5) perspective(10);
    }
    to {
        background-color: #6160f7;
        opacity:1;
        width:90px;
        height: 90px;
        background-position:22% 22%;
        transform:translateX(30px) translateY(45px)  translateZ(55px)
        rotateX(180deg) rotateY(185deg) rotateZ(150deg) scaleX(2) scaleY(2.5) scaleZ(3.5);
    }
}

.gradient-container{
    flex-direction: column;
}

.gradient1{
    margin: 5px;
    background: linear-gradient(red, #00ff00);
}

.gradient2{
    margin: 5px;
    background: linear-gradient(45deg, rgb(255,0,0),rgb(0, 255, 0));
}

.gradient3{
    margin: 5px;
    background: linear-gradient(to right, rgb(255,0,0) 90px, rgb(0, 255, 0) 60%);
}

.gradient4{
    stroke-width: 30px;
    margin: 5px;
    background: repeating-linear-gradient(to right, rgba(255, 255, 0, 1) 30px,rgba(0, 0, 255, .5) 60px);
}

.access-container{
    flex-direction: column;
}

.access1{
    color: #321124;
    background-color: #321124;
    stroke-width: 30px;
    margin: 5px;
}

.multimode-container{
    flex-direction: column;
}

.multimode1{
    background-color: #978666;
    margin: 5px;
}