.container {
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 18px;
    color: grey;
    padding: 5px;
    text-align: center;
}
.svg-style{
    border: 1px solid #000000;
}
.outerBox{
    flex-direction: column;
}