/* xxx.css */
.container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f8f8ff;
}
.back_container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 1000px;
    width: 1080px;
}