.doc-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.btn-div {
    width: 100%;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.btn {
    background-color: brown;
    margin: 10px;
}
.txt {
    font-weight: bold;
    font-size: 39px;
}
.dialog-main {
    width: 500px;
    height: 300px;
    margin: 30px;
}
.dialog-div {
    flex-direction: column;
    align-items: center;
}
.inner-txt {
    width: 400px;
    height: 160px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.inner-btn {
    width: 400px;
    height: 120px;
    justify-content: space-around;
    align-items: center;
}
.btn-txt {
    background-color: brown;
}